.ingredient {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    font-size: 20px;
    margin: 10px 0;
}


.ingredient input {
    display: none;
}


.checkmark {
    width: 24px;
    height: 24px;

    border: 2px solid #888;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}


.ingredient input:checked + .checkmark {
    background-color: #274e02;
    border-color: #274e02;
}

.ingredient input:checked + .checkmark::after {
    content: "✓";
    color: white;
    font-size: 18px;

    animation: checkAnimation 0.2s ease;
}

.ingredient input:checked ~ .ingredient-text {
    text-decoration: line-through;
    opacity: 0.5;
}

@keyframes checkAnimation {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar{
    background: #57b54a;
    font-family: Poppins, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    color:white
}



.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{
    list-style: none;
    display: inline-block;
}